{% extends 'accounts/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<!-- Toast Container -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
  {% for message in messages %}
    <div class="toast align-items-center text-bg-danger border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  {% endfor %}
</div>

<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label>Username</label>
    <input type="text" name="username" class="form-control" required>
  </div>
  <div class="mb-3 position-relative">
    <label>Password</label>
    <div class="input-group">
      <input type="password" name="password" id="passwordInput" class="form-control" required>
      <span class="input-group-text" id="togglePassword" style="cursor: pointer;">
        <i class="bi bi-eye-slash" id="eyeIcon"></i>
      </span>
    </div>
  </div>  
  <button type="submit" class="btn btn-primary">Login</button>
  <p class="mt-2">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</form>


<script>
  const togglePassword = document.getElementById("togglePassword");
  const passwordInput = document.getElementById("passwordInput");
  const eyeIcon = document.getElementById("eyeIcon");

  togglePassword.addEventListener("click", () => {
    const type = passwordInput.type === "password" ? "text" : "password";
    passwordInput.type = type;
    eyeIcon.classList.toggle("bi-eye");
    eyeIcon.classList.toggle("bi-eye-slash");
  });
</script>

<!-- Bootstrap Toast JS -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toastElements = document.querySelectorAll('.toast');
    toastElements.forEach(toastEl => {
      const toast = new bootstrap.Toast(toastEl, { delay: 3000 });
      toast.show();
    });
  });
</script>

<script>
  sessionStorage.removeItem("face_violations");
  sessionStorage.removeItem("noface_violations");
  sessionStorage.removeItem("camera_initialized");
  sessionStorage.removeItem("camera_alerted");
  sessionStorage.removeItem("cameraGranted");
</script>


{% endblock %}
