<!DOCTYPE html>
<html>
<head>
    <title>Quiz Questions</title>
</head>
<body>
    <h1>Aptitude Quiz</h1>
    <form method="POST">
        {% csrf_token %}
        
        <div>
            <p><strong>Q{{ question_counter }}: {{ question.question }}</strong></p>
            {% for option in question.options %}
                <label>
                    <input type="radio" name="answer" value="{{ option }}" required>
                    {{ option }}
                </label><br>
            {% endfor %}
        </div>
        
        <button type="submit" name="action" value="next">Next</button>
    </form>
</body>
</html>
